/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/* Global */

/*///////////////// RESET//////////////////////////////////////////////*/
* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  list-style-type:none;

  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  font-family: 'Karla', sans-serif;

}

/*///////////////// BOOT //////////////////////////////////////////////*/

a{
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.clear{clear: both;}
/*---inicio classes z_index*---*/
.z-1{z-index: -1;}
.z-2{z-index: -2;}
.z-3{z-index: -3;}
.z0{z-index: 0;}
.z1{z-index: 1;}
.z2{z-index: 2;}
.z3{z-index: 3;}
.z4{z-index: 4;}


/*---fim classes z_index*---*/

/*____________________________________________*/

.topoContainer{
  width: 100%;
  height: 210px;
/*background-color: rgba(46, 249, 32,0.1);*/
}
.cabecalho{
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(22,20,56,1) 100%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.link_home{
  width: 180px;
  text-align: center;
  font-size: 1.8em;
  
}
.link_home a{
color: white;
}
.link_sobre{
  width: 180px;
  text-align: center;
  font-size: 1.8em;
}
.link_sobre a{
color: white;
}
.link_contato{
  width: 180px;
  text-align: center;
  font-size: 1.8em;
}
.link_contato a{
color: white;
}

.categoria{
  font-size: 1.8em;
  z-index: 600;
}
.categoria a{
color: white;
}
.categoria ul li{
  float: left;
  width: 180px;
  height: 40px;


  line-height: 40px;
  text-align: center;

}
.categoria ul li a{
  text-decoration: none;
  height: 40px;
  display: block;
/*  background-color: #2ef920;*/

}
.categoria ul li a~ul li a{
  text-decoration: none;
  height: 40px;
  display: block;
  background-color: #2ef920;

}
.categoria ul li a:hover{
}
.categoria ul li ul li{
  display: none;
}
.categoria ul li:hover ul li{
  display: block; 
}
.busca{
  width: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
}
.busca1{
  width: 20%;
  margin-left: 30%;
  padding: 5px;
  font-size: 0.6em;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #1865e0;
}
.busca1:hover{
  background-color: #a4d0f2;
}
.submitFoto{
  margin-right: 16%;
  font-size: 0.9em;
  line-height: 0.9em;
  background: -moz-linear-gradient(90deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(98,255,59,1)), color-stop(50%, rgba(0,168,0,1)), color-stop(100%, rgba(98,255,59,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62FF3B', endColorstr='#62FF3B',GradientType=0 ); /* ie6-9 */
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #1865e0;
  margin-top: 10px;
}
.submitFoto:hover{
  background: linear-gradient(0deg, rgba(255,150,51,1) 0%, rgba(255,10,10,1) 50%, rgba(255,164,54,1) 100%);;
  color: white;
}
.naoMostrar{
  display: none;
}

.banner{
  width: 100%;
  height: 160px;
  background: linear-gradient(0deg, rgba(8,123,255,1) 0%, rgba(50,45,128,1) 100%);
  /*  background-image:url(../../assets/img/crystal.jpg); 
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  margin: 0 auto;
  border-radius: 10px;

}
.banner h1{
  font-size: 2.8em;
  color: white;
  text-align: center;
  padding-top: 40px;
}

.container_geral{
  background-color: #e8e8e8;
}
/*----------------BLOG-------------------------------------*/


.post{
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(43,48,128,1) 0%, rgba(250,255,255,1) 50%, rgba(50,85,128,1) 100%);
}

.post_container{
  width: 100%;
  background-color: #e0e0e0;

  display: flex;
}
.post_container_post{
  width: 80%;

  padding: 10px;

}
.post_container_post h1{
  padding: 40px;
  text-align: center;
  font-size: 3em;
}
.subtitulo{
  margin-top: 5px;
  text-align: center;
  font-size: 2.5em;
}
.post_container_post p{
  padding-top: 20px;
  font-size: 18px;

  line-height: 20px;
}
/*.post_container_post_img{
    width: 100%;
    border: 1px solid black;
    
    padding: 10px;
    display: flex;
    
}*/
.post_container_post_img_principal{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.post_container_post_img_principal_img img{
  width: 220px;
  height: 220px;
  margin: 15px 15px;
  border: 1px solid #424141;
  padding: 4px;  
  border-radius: 4px;
  box-shadow: 0px 0px 10px #1865e0;
  cursor: pointer;
  object-fit: cover;
}
.post_container_post_img_secundario{
  width: 15%;
  padding-left: 10px;  
}
.post_container_post_img_secundario img{
  border: 1px solid black; 
  padding-bottom: 10px;
  cursor: pointer;
  object-fit: cover;
}
.picbig{
  position: absolute;
  width:0px;
  right: 5px;
  top: 30px;
  -webkit-transition:width 0.3s linear 0s;
  transition:width 0.3s linear 0s;
  z-index:10;
}
.post_container_post_img_principal img:hover + .picbig{
  width:55%;
  object-fit: cover;
}
.post_container_post_img_secundario img:hover + .picbig{
  width:55%;
  object-fit: cover;
}
/*------*/
.post_container_outros{

  width: 20%;
  height: auto;
  position: relative;
}
.post_container_outros h3{
  text-align: center;
  padding: 15px;
  font-size: 22px;
}
.post_container_outros_pqn{
  width: 100%;
  height: 250px;

  cursor: pointer;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.post_container_outros_pqn h6{
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

/*------------------------------------------------------------------------------*/

.subfooter{
  width: 100%;
  height: 100vh;
  background-color: #036eb7;
}
/*44444444444444444444444444444444*/
.container_geral{
  width: 100%;
  /* background-image: url(../../assets/img/pets.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/

}

/*MODAL*/
.window{
  display:none;
  width:98%;
  height:98vh;
  overflow: hidden;
  position:absolute;

  margin: 0 auto;

  background-color:rgba(0,0,0,0);
  z-index:9100;
}
.window img{
  max-width: 98%;
  max-height: 98%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  border: 5px solid white;
}

#mascara{
  display:none;
  position:absolute;

  left:0;
  top:0;
  z-index:9000;
  background-color: black;
}

/*#janela1{background: #EEE9E9;
         margin: 0 auto;
}
#janela2{background: #EEE9E9;
         margin: 0 auto;
}
#janela3{background: #EEE9E9;
         margin: 0 auto;
}
#janela4{background: #EEE9E9;
         margin: 0 auto;
}
*/

.fechar{  
  padding: 5px 5px;
  border: 1px solid black;
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  background-color: blue;
  z-index: 9200;
}
.fechar:hover{  
  color: white;
  background-color: red;
}
.submit{
  margin-left: 42%;
  font-size: 1.6em;
  line-height: 1.6em;
  background: -moz-linear-gradient(90deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(98,255,59,1)), color-stop(50%, rgba(0,168,0,1)), color-stop(100%, rgba(98,255,59,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(98,255,59,1) 0%, rgba(0,168,0,1) 50%, rgba(98,255,59,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62FF3B', endColorstr='#62FF3B',GradientType=0 ); /* ie6-9 */
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #1865e0;
  margin-top: 10px;

}
.submit:hover{
  background: linear-gradient(0deg, rgba(255,150,51,1) 0%, rgba(255,10,10,1) 50%, rgba(255,164,54,1) 100%);
  color: white;
}
button a{
  color: white;
  list-style: none;
}

#modal{
  background-color: rgba(0,0,0,1);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  /*  display: none;*/
  z-index: 1000;
}
.modal-box{
  background-color: rgba(255,255,255,1);
  position: absolute;
  width: 60%;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -30%;
  margin-top: -150px;
  z-index: 2000;
}
.txtmodal{
  font-size: 2em;
  padding: 0.8em; 
  line-height: 1.2em;
  text-align: center;
  position: relative;
}
.display_model{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.submitmodel{
  width: 300px;
  margin: 20px;
  font-size: 1.3em;
  line-height: 1.3em;
  background-color: #2ef920;
  text-align: center;
  cursor: pointer;
}
.submitmodel:hover{
  background-color: #f91616;
  color: white;
}
.fecharEste{
  width: 300px;
  margin: 20px;
  font-size: 1.3em;
  line-height: 1.3em;
  background-color: #2ef920;
  text-align: center;
  cursor: pointer;
}
.fecharEste:hover{
  background-color: #f91616;
  color: white;
}
.verEste{
  width: 300px;
  margin: 20px;
  font-size: 1.3em;
  line-height: 1.3em;
  background-color: #2ef920;
  text-align: center;
  cursor: pointer;
}
.verEste:hover{
  background-color: #f91616;
  color: white;
}

/*#modalacionado{
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;

}*/

/*///////////////// blog //////////////////////////////////////////////*/
.blog_container{
  width: 100%;
padding-top: 30px;

  display: flex;

}
.cada_post{
  width: 90%;
  margin: 10px auto;
  
  padding: 15px;
  background-color: white;
  box-shadow:0px 0px 10px 10px #c4c4c4 ;
}

.titulo_post{

  text-align: center;
  font-size: 26px;
  padding: 30px;

}
.img_post{
  width: 92%;
  margin-left: 4%;
}

.img_post img{
  width: 100%;
  height: 440px;
  /*  margin: 15px 15px;*/


  object-fit: cover;
}
.info{
  width: 100%;
      display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.info_item{
  padding: 15px;
}
.links{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    
}
.links button{
    width: 30%;
    margin-left: 30px;
text-align: center;
font-size: 26px;
background-color: blue;
color: white;
}
.links button a{
color: white;
}
.blog_container_post{
  width: 70%;
  padding: 10px;
  margin: 10px auto;

}

.blog_container_post p{
  padding-top: 20px;
  font-size: 18px;

  line-height: 20px;
}
.blog_container_post_img{
  width: 50%;
  border: 1px solid black;

  padding: 10px;
  display: flex;

}
.blog_container_post_img_principal{
  width: 85%;
}
.blog_container_post_img_principal img{
  border: 1px solid black;
  cursor: pointer;  
}
.blog_container_post_img_secundario{
  width: 15%;
  padding-left: 10px;  
}
.blog_container_post_img_secundario img{
  border: 1px solid black; 
  padding-bottom: 10px;
  cursor: pointer;
}
.container_paginacao{
  width: 100%;
  display: flex;
  justify-content: center;
}
.itemPaginacao{
  width: 40px;
  height: 40px;
  margin: 10px;
  border: 1px solid #5b5d60;

  font-size: 16px;
  text-align: center;
  line-height: 40px;
}
.itemPaginacao:hover, 
.pagina_ativa
{
  border: 1px solid red;
  background-color:#97baef; 
}
.itemPaginacao a{
  display: block;
  color: black;
}


/*------*/
.blog_container_outros{

  width: 25%;
  margin: 30px auto;
    padding: 15px;
  background-color: white;
  box-shadow:0px 0px 10px 10px #c4c4c4 ;
}
.blog_container_outros h3{
  text-align: center;
  padding-top: 15px;
  font-size: 22px;

}
.blog_container_Social{
  width: 100%;
     display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.blog_container_Social_item{
  width: 20%;
}
.blog_container_Social_item img{
  width: 100%;
}
.blog_container_outros_pqn{
  width: 280px;
  height: 120px;

  cursor: pointer;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px auto;
  z-index:10;

}
.blog_container_outros_pqn h6{
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.window img{
  max-width: 98%;
  max-height: 98%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  border: 5px solid white;
}

/*///////////////// FOOTER //////////////////////////////////////////////*/
.rodape{
  width: 100%;

  text-align: center;

  background-color: #2ef920;
  padding: 6px;
  bottom: 0;


}
.rodape h1{

  font-size: 1em;
  color: white;

}
.rodape h2 a{

  font-size: .5em;
  color: white;

}

/*///////////////// galeria //////////////////////////////////////////////*/
.galeriaContainer{
  padding-top: 60px;
  background-color: rgb(193, 255, 212);
}
.galeria_titulo{
  width: 100%;
  text-align: center;
}
.galeria_titulo h1{
  font-size: 36px;
  color: #5e6861;
  padding: 15px;
}

.galeria_bloco{
  width: 100%;


  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.galeria_part{
  width: 30%;

  background-color: white;
  margin-top: 30px;
}
.imagenDaGaleria{
  width: 100%;
  height: 350px;

  margin: auto;
}
.imagenDaGaleria img{
  max-width: 90%;
  max-height: 90%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}
.paragf{
  font-size: 20px;
  text-align: initial;
  padding: 10px;
  color: #6a6d6c;

}